<div class="row">
    <h1> Proyectos Realizados </h1>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proximamente</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ipsam facilis non.</p>
        </div>
        <div >
            <img src="../../../assets/cargando.jpg" alt="">
        </div>
    </div>
    <div class="contenedor">
        <div class="col-sm-12 col-md-7 col-lg-7 parte1">
            <h2>Proximamente</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit ipsam facilis non.</p>
        </div>
        <div >
            <img src="../../../assets/cargando.jpg" alt="">
        </div>
        
 </div>